[user]
  name = Jared Culp
  email = jared.culp@opower.com

[credential]
  helper = osxkeychain

[commit]
  verbose = true

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[push]
  default = simple

[rebase]
  autosquash = true

[alias]
  a = add
  aa = add .
  b = branch
  c = commit
  cfh = commit --fixup HEAD
  cm = commit -m
  cma = commit --amend
  co = checkout
  cb = checkout -b
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  d = diff
  fa = fetch --all --tags
  l = log --graph --oneline --decorate
  pf = push --force-with-lease
  po = pull origin master
  pr = pull-request
  rb = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rp = remote prune origin
  s = status
  ss = status -s
  st = stash
  stp = stash pop
  stc = stash clear

[hub]
  host = github.va.opower.it

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@github.va.opower.it:"]
  insteadOf = https://github.va.opower.it/
