#!/bin/bash

function wttr() {
  local verbose
  while getopts ":v" opt; do
    case $opt in
      v)
        verbose=true
        ;;
      *)
        ;;
    esac
  done

  if [ -z ${verbose} ]; then
    curl -s "wttr.in/19103" | head -n6
  else
    curl -s "wttr.in/19103"
  fi
}
